<!DOCTYPE html>
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->

<head>

	<title th:text="#{application.name} + ' - ' + #{dashboard.label}"></title>

	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>

	<link th:replace="fragments/style"/>

	<div th:replace="fragments/js"></div>

	<style>
		.amcharts-pie-slice {
			transform: scale(1);
			transform-origin: 50% 50%;
			transition-duration: 0.3s;
			transition: all .3s ease-out;
			-webkit-transition: all .3s ease-out;
			-moz-transition: all .3s ease-out;
			-o-transition: all .3s ease-out;
			cursor: pointer;
			box-shadow: 0 0 30px 0 #000;
		}
		
		.amcharts-pie-slice:hover {
			transform: scale(1.1);
			filter: url(#shadow);
		}
	</style>

	<script th:src="@{'/webjars/amcharts/'+#{application.dependency.amcharts}+'/amcharts.js'}"></script>
	<script th:src="@{'/webjars/amcharts/'+#{application.dependency.amcharts}+'/serial.js'}"></script>
	<script th:src="@{'/webjars/amcharts/'+#{application.dependency.amcharts}+'/pie.js'}"></script>
	<script th:src="@{'/webjars/amcharts/'+#{application.dependency.amcharts}+'/themes/light.js'}"></script>

</head>

<body class="cards-pf" th:with="menu='dashboard'">

	<div th:replace="fragments/header"></div>

	<div class="container-fluid container-cards-pf">

		<div class="row row-cards-pf">
			<div class="col-xs-6 col-sm-4 col-md-2">
				<div class="card-pf card-pf-accented card-pf-aggregate-status">
					<h2 class="card-pf-title">
						<a href="#">
							<span class="fa fa-trophy"></span>
							<span class="card-pf-aggregate-status-count" th:text="${stats.totalRaces}">[totalRaces]</span> L&auml;ufe
						</a>
					</h2>
					<div class="card-pf-body">
						<p class="card-pf-aggregate-status-notifications">
							<span class="card-pf-aggregate-status-notification">
								<a href="#"><span class="pficon pficon-ok"></span><span th:text="${stats.totalRacesSuccess}">[totalRacesSuccess]</span></a>
							</span>
							<span class="card-pf-aggregate-status-notification">
								<a href="#"><span class="pficon pficon-error-circle-o"></span><span th:text="${stats.totalRacesFailed}">[totalRacesFailed]</span></a>
							</span>
						</p>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-2">
				<div class="card-pf card-pf-accented card-pf-aggregate-status">
					<h2 class="card-pf-title">
						<a href="#"><span class="fa fa-rocket"></span> L&auml;ngster Lauf</a>
					</h2>
					<div class="card-pf-body">
						<p class="card-pf-aggregate-status-notifications">
							<span class="card-pf-aggregate-status-notification">
								<span th:text="${#numbers.formatInteger(stats.longestDistance,1, 'POINT')}">[longestDistance]</span> km
							</span>
						</p>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-2">
				<div class="card-pf card-pf-accented card-pf-aggregate-status">
					<h2 class="card-pf-title">
						<a href="#"><span class="fa fa-road"></span> Gesamte Distanz</a>
					</h2>
					<div class="card-pf-body">
						<p class="card-pf-aggregate-status-notifications">
							<span class="card-pf-aggregate-status-notification">
								<span th:text="${#numbers.formatInteger(stats.totalDistance,1, 'POINT')}">[totalDistance]</span> km
							</span>
						</p>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-2">
				<div class="card-pf card-pf-accented card-pf-aggregate-status">
					<h2 class="card-pf-title">
						<a href="#"><span class="fa fa-globe"></span> Anzahl L&auml;nder</a>
					</h2>
					<div class="card-pf-body">
						<p class="card-pf-aggregate-status-notifications">
							<a href="#"><span class="card-pf-aggregate-status-notification" th:text="${stats.totalCountries}">[totalCountries]</span></a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-2">
				<div class="card-pf card-pf-accented card-pf-aggregate-status">
					<h2 class="card-pf-title">
						<a href="#"><span class="fa fa-bolt"></span> Tough Mudder</a>
					</h2>
					<div class="card-pf-body">
						<p class="card-pf-aggregate-status-notifications">
							<a href="#"><span class="card-pf-aggregate-status-notification" th:text="${stats.totalRacesToughMudder}">[totalRacesToughMudder]</span></a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-2">
				<div class="card-pf card-pf-accented card-pf-aggregate-status">
					<h2 class="card-pf-title">
						<a href="#"><span class="fa fa-bolt"></span> XLETIX Challenge</a>
					</h2>
					<div class="card-pf-body">
						<p class="card-pf-aggregate-status-notifications">
							<a href="#"><span class="card-pf-aggregate-status-notification" th:text="${stats.totalRacesXletix}">[totalRacesXletix]</span></a>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row row-cards-pf">
			<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="card-pf">
					<h2 class="card-pf-title">Kommende Events</h2>
					<div class="card-pf-body">
						<table class="table">
							<tbody>
								<tr>
									<th>Status</th>
									<th>Veranstaltung</th>
									<th>Tage</th>
								</tr>
								<tr th:if="${#lists.isEmpty(stats.upcomingEvents)}">
									<td colspan="3" align="center" th:text="#{default.table.empty.text}">Data can not be found.</td>
								</tr>
								<tr th:each="event : ${stats.upcomingEvents}">
									<td>
										<span th:class="${event.status.label}" th:text="${#messages.msg('event.status.'+event.status.name()+'.label')}">[status]</span>
									</td>
									<td>
										<strong th:text="${event.name}">[name]</strong>
										<br/>
										<span th:text="${T(karstenroethig.laeufe.controller.formatter.DateRangeFormatter).format(event.eventPeriod, #messages.msg('default.dateFormat'))}">[startDate]-[endDate]</span>,
										<span th:text="${event.locationName}">[locationName]</span>,
										<span th:text="${event.locationCountry.name}">[locationCountry]</span>
									</td>
									<td>
										<span class="label label-default" th:text="${event.remainingDays}">[remainingDays]</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
			<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="card-pf card-pf-utilization">
					<h2 class="card-pf-title">Beliebte Kategorien</h2>
					<div class="card-pf-body">
						<div id="chartdiv_serial" style="width: 100%; height: 300px; font-size: 11px;"></div>
					</div>
				</div>
			</div>
			
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="card-pf card-pf-utilization">
					<h2 class="card-pf-title">Beliebte Veranstalter</h2>
					<div class="card-pf-body">
						<div id="chartdiv_pie" style="width: 100%; height: 500px; font-size: 11px;"></div>
					</div>
				</div>
			</div>
			
		</div>
		
	</div>

	<div layout:fragment="additionalFooter">

		<script>
			$( document ).ready( function() {

				var chartDataPie;
				var chartDataSerial;
				var chartDataSerialGraphs;

				$.when(

					$.ajax( {
						url: '/api/1.0/organizerPreferences',
						dataType: 'json',
						cache: false
					}).done( function( data ) {
						chartDataPie = convertOrganizerPreferencesToChartData( data );
					}).fail( function( jqXHR, textStatus, errorThrown ) {
						alert( jqXHR.responseText );
					})

				).then( function() {
					createChartPie( chartDataPie );
				});

				$.when(

					$.ajax( {
						url: '/api/1.0/categorySpreadingPerYear',
						dataType: 'json',
						cache: false
					}).done( function( data ) {
						chartDataSerial = convertCategorySpreadingPerYearToChartData( data );
						chartDataSerialGraphs = convertCategorySpreadingPerYearToChartGraphs( data );
					}).fail( function( jqXHR, textStatus, errorThrown ) {
						alert( jqXHR.responseText );
					})

				).then( function() {
					createChartSerial( chartDataSerial, chartDataSerialGraphs );
				});

			});

			/**
			 * organizerPreferences example:
			 * [{"name":"Tough Mudder","races":15},
			 *  {"name":"Spartan Race","races":7}]
			 */
			function convertOrganizerPreferencesToChartData( organizerPreferences )
			{
				var chartData = [];

				for( var index in organizerPreferences )
				{
					chartData.push( { "organizer": organizerPreferences[index].organizer, "races": organizerPreferences[index].races } );
				}

				return chartData;
			}

			function createChartPie( chartData )
			{
				var chart = AmCharts.makeChart("chartdiv_pie", {
					"type": "pie",
					"startDuration": 0,
					"theme": "light",
					"addClassNames": true,
					"legend":{
						"position":"right",
						"marginRight":100,
						"autoMargins":false
					},
					"innerRadius": "30%",
					"defs": {
						"filter": [{
							"id": "shadow",
							"width": "200%",
							"height": "200%",
							"feOffset": {
								"result": "offOut",
								"in": "SourceAlpha",
								"dx": 0,
								"dy": 0
							},
							"feGaussianBlur": {
								"result": "blurOut",
								"in": "offOut",
								"stdDeviation": 5
							},
							"feBlend": {
								"in": "SourceGraphic",
								"in2": "blurOut",
								"mode": "normal"
							}
						}]
					},
					"dataProvider": chartData,
					"valueField": "races",
					"titleField": "organizer"
				});
				
				chart.addListener("init", handleInit);
				
				chart.addListener("rollOverSlice", function(e) {
					handleRollOver(e);
				});
				
				function handleInit(){
					chart.legend.addListener("rollOverItem", handleRollOver);
				}
				
				function handleRollOver(e){
					var wedge = e.dataItem.wedge.node;
					wedge.parentNode.appendChild(wedge);
				}
			}

			/**
			 * categorySpreadingPerYear example:
			 * [{"year":2010,"amountPerCategory":{"Hindernislauf":0,"Straßenlauf":1,"Cross-Lauf":0}},
			 *  {"year":2014,"amountPerCategory":{"Hindernislauf":1,"Straßenlauf":1,"Cross-Lauf":1}}]
			 */
			function convertCategorySpreadingPerYearToChartData( categorySpreadingPerYear )
			{
				var chartDatas = [];

				for( var index in categorySpreadingPerYear )
				{
					var chartData = { "year": categorySpreadingPerYear[index].year };
					
					for( var key in categorySpreadingPerYear[index].amountPerCategory )
					{
						chartData[key] = categorySpreadingPerYear[index].amountPerCategory[key];
					}
					
					chartDatas.push( chartData );
				}
				
				return chartDatas;
			}

			/**
			 * categorySpreadingPerYear example:
			 * [{"year":2010,"amountPerCategory":{"Hindernislauf":0,"Straßenlauf":1,"Cross-Lauf":0}},
			 *  {"year":2014,"amountPerCategory":{"Hindernislauf":1,"Straßenlauf":1,"Cross-Lauf":1}}]
			 */
			function convertCategorySpreadingPerYearToChartGraphs( categorySpreadingPerYear )
			{
				var graphs = [];

				for( var index in categorySpreadingPerYear )
				{
					for( var key in categorySpreadingPerYear[index].amountPerCategory )
					{
						graphs.push( { "balloonText": "[[title]]: [[value]] ([[category]])",
							"fillAlphas": 0.6,
							"lineAlpha": 0.4,
							"title": key,
							"valueField": key
						} );
					}
					break;
				}
				
				return graphs;
			}

			function createChartSerial( chartData, graphs )
			{
				AmCharts.makeChart("chartdiv_serial", {
					"type": "serial",
					"theme": "light",
					"marginRight":30,
					"legend": {
						"equalWidths": false,
						"position": "top",
						"valueAlign": "left",
						"valueWidth": 80
					},
					"dataProvider": chartData,
					"valueAxes": [{
						"stackType": "regular",
						"gridAlpha": 0.07,
						"position": "left",
						"title": "Läufe"
					}],
					"graphs": graphs,
					"plotAreaBorderAlpha": 0,
					"marginTop": 10,
					"marginLeft": 0,
					"marginBottom": 0,
					"chartScrollbar": {},
					"chartCursor": {
						"cursorAlpha": 0
					},
					"categoryField": "year",
					"categoryAxis": {
						"startOnAxis": true,
						"axisColor": "#DADADA",
						"gridAlpha": 0.07,
						"title": "Jahr"
					}
				});
			}

		</script>

	</div>

</body>
</html>