<!DOCTYPE html>
<html>
<head></head>
<body>

	<nav class="navbar navbar-default navbar-pf" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" th:href="@{/}">
				<img th:src="@{'/images/brand.png'}"/>
			</a>
		</div>
		<div class="collapse navbar-collapse navbar-collapse-1">
			<ul class="nav navbar-nav navbar-utility">
				<li class="dropdown">
					<a href="#0" class="nav-item-iconic" id="horizontalDropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<span title="Help" class="fa pficon-help"></span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" aria-labelledby="horizontalDropdownMenu1">
						<li>
							<a th:href="@{/admin/server-info}" th:text="#{utility.serverInfo.label}">Server Info</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#0" class="dropdown-toggle" data-toggle="dropdown">
						<span class="pficon pficon-user"></span>
						Karsten R&ouml;thig <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a th:href="@{/user/account-info}" th:text="#{utility.user.accountInfo.label}">Account Info</a>
						</li>
						<li>
							<a href="#" th:text="#{utility.user.manageAccount}">Manage Account</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#" th:text="#{utility.user.signOut}">Sign Out</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-primary">
				<li th:class="${#strings.equals(menu,'dashboard')} ? active">
					<a th:href="@{/dashboard}" th:text="#{dashboard.label}">Dashboard</a>
				</li>
				<li th:class="${#strings.equals(menu,'event')} ? active">
					<a th:href="@{/event/list}" th:text="#{event.label.plural}">Events</a>
				</li>
				<li th:class="${#strings.equals(menu,'map')} ? active">
					<a th:href="@{/map}" th:text="#{map.label}">Map</a>
				</li>
				<li th:class="${#strings.equals(menu,'admin')} ? active">
					<a th:href="@{/organizer/list}" th:text="#{utility.admin.label}">Administration</a>
				</li>
			</ul>
		</div>
	</nav>

</body>
</html>