<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
	<title th:text="#{event.label.plural}+' - '+${event.name}"></title>

	<!-- amMap -->
	<script th:src="@{'/webjars/ammap3/'+#{application.dependency.ammap}+'/ammap/ammap.js'}"></script>
	<link rel="stylesheet" th:href="@{'/webjars/ammap3/'+#{application.dependency.ammap}+'/ammap/ammap.css'}"/>

	<!-- amMap - the map -->
	<script th:src="@{'/webjars/ammap3/'+#{application.dependency.ammap}+'/ammap/maps/js/worldLow.js'}"></script>
</head>
<body th:with="menu='event'">

	<div layout:fragment="breadcrumb">
		<ol class="breadcrumb">
			<li>
				<a th:href="@{/event/list}" th:text="#{event.label.plural}">Events</a>
			</li>
			<li class="active" th:text="${event.name}">[name]</li>
		</ol>
		<h1>
			<span th:text="${event.name}">[name]</span>
			<span th:class="${event.status.icon+' list-view-pf-icon-lg'}" th:title="${#messages.msg('event.status.'+event.status.name()+'.label')}"></span>
		</h1>
	</div>

	<div layout:fragment="content">
		
		<p>
			<span th:text="${T(karstenroethig.laeufe.controller.formatter.DateRangeFormatter).format(event.eventPeriod, #messages.msg('default.dateFormat'))}">[startDate]-[endDate]</span>,
			<span th:text="${event.locationName}">[locationName]</span>,
			<span th:text="${event.locationCountry.name}">[locationCountry]</span>
		</p>

		<fieldset>
			<legend>L&auml;ufe</legend>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Kategorie</th>
						<th>Startnummer</th>
						<th class="text-right">Startzeit</th>
						<th class="text-right">Distanz</th>
						<th class="text-right">Zeit</th>
						<th>Team</th>
						<th>Notiz</th>
					<tr>
				</thead>
				<tbody>
					<tr th:if="${#lists.isEmpty(event.races)}">
						<td colspan="7" align="center" th:text="#{default.table.empty.text}">Data can not be found.</td>
					</tr>
					<tr th:each="race : ${event.races}">
						<td th:text="${race.category.name}">[category]</td>
						<td th:text="${race.startNumber}">[startNumber]</td>
						<td class="text-right" th:text="${#temporals.format(race.startTime, #messages.msg('default.startTimeFormat'))}">[startTime]</td>
						<td class="text-right">
							<span th:if="${race.distance!=null}">
								<span th:text="${#numbers.formatDecimal(race.distance,1, 'POINT', 3, 'COMMA')}">[distance]</span> km
							</span>
						</td>
						<td class="text-right" th:text="${race.racetime}">[racetime]</td>
						<td th:text="${race.team}">[team]</td>
						<td th:text="${race.note}">[note]</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
		
		<fieldset>
			<legend>Karte</legend>
			<div id="mapdiv" style="width: 100%; height: 350px;"></div>
		</fieldset>

		<fieldset>
			<legend>Kosten</legend>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Bezeichnung</th>
						<th class="text-right">Betrag (Fremdw&auml;hrung)</th>
						<th class="text-right">Betrag (&euro;)</th>
					<tr>
				</thead>
				<tbody>
					<tr th:if="${#lists.isEmpty(event.costPoints)}">
						<td colspan="3" align="center" th:text="#{default.table.empty.text}">Data can not be found.</td>
					</tr>
					<tr th:each="costPoint : ${event.costPoints}">
						<td th:text="${costPoint.description}">[description]</td>
						<td class="text-right">
							<span th:if="${costPoint.amountForeignCurrency!=null}">
								<span th:text="${#numbers.formatDecimal(costPoint.amountForeignCurrency,1, 'POINT', 2, 'COMMA')}">[amountForeignCurrency]</span> <span th:text="${costPoint.foreignCurrency}">[foreignCurrency]</span>
							</span>
						</td>
						<td class="text-right">
							<span th:if="${costPoint.amount!=null}" th:text="${#numbers.formatDecimal(costPoint.amount,1, 'POINT', 2, 'COMMA')}">[amount]</span>
						</td>
					</tr>
					<tr th:if="${#lists.isEmpty(event.costPoints)==false}">
						<td><strong>Gesamt</strong></td>
						<td>&nbsp;</td>
						<td class="text-right">
							<strong th:if="${event.costPointsTotal.amount!=null}" th:text="${#numbers.formatDecimal(event.costPointsTotal.amount,1, 'POINT', 2, 'COMMA')}">[amount]</strong>
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>

		<fieldset>
			<legend>Hindernisse</legend>
			<ul>
				<li>Bale Bonds <small>(über Strohballen klettern)</small></li>
				<li>Skid Marked <small>(Climb over a tall angled wall with tires on the back)</small></li>
				<li>Shawshanked <small>(crawl through a narrow tube and drop into a pool of water)</small></li>
				<li>Birth Canal <small>(Crawl under a plastic liner, filled with water)</small></li>
				<li>Creek Crusade #1 <small>(knietiefen Fluss durchqueren)</small></li>
				<li>Creek Crusade #2 <small>(knietiefen Fluss durchqueren)</small></li>
				<li>Island Hopping</li>
				<li>Devil's Beard <small>(unter einem Netz durchkriechen)</small></li>
				<li>Balls To The Wall</li>
				<li>Artic Enema 2.0 <small>(Plunge into icy water)</small></li>
				<li>Mud Mile #1</li>
				<li>Hero Carry</li>
				<li>Killa Gorilla <small>(querfeldein, viel Gestrüpp, viel Holz)</small></li>
				<li>Hero Walls</li>
				<li>The Liberator <small>(Climb over an angled wall using pegs)</small></li>
				<li>Mud Mile #2</li>
				<li>Tyre Carry <small>(einen Autoreifen tragen)</small></li>
				<li>King of the Swingers <small>(Rope swing into water off of a raised platform)</small></li>
				<li>Kiss of Mud 2.0 <small>(Crawl under barbed wire)</small></li>
				<li>Funky Monkey 2.0 <small>(Monkey bar crossing)</small></li>
				<li>Cry Baby <small>(Crawl through a smoke-filled chamber)</small></li>
				<li>Everest 2.0 <small>(Greased up 1/4 pipe)</small></li>
				<li>Dead Ringer</li>
				<li>Electroshock Therapy</li>
			</ul>
		</fieldset>

		<fieldset>
			<legend>Zeitungsartikel</legend>

			<h2>Riesengaudi beim Cross de Luxe am Markkleeberger See <small>Sonntag, 27. September 2015 (LVZ-Online >> Region >> Markkleeberg)</small></h2>
			<p class="lead">Die Teamnamen sind Programm: Wenn Dreckspatzen, Abrissbirnen, Seitenstecher, gestiefelte Muskelkater, Schlammlappen oder die 50 Shades of Matsch antreten, ist der Startschuss zum Cross de Luxe gefallen.</p>
			<p>2000 unerschrockene Abenteurer stellten sich am Sonnabend 25 spektakulären Hindernissen am Markkleeberger See.</p>
			<p>Vor sechs Jahren lockten die Sportfreunde Neuseenland mit ihrem ultimativen Geländelauf 300 Starter, heute sind es 2000 und es könnten noch mindestens Tausend mehr sein. Das Limit war schon im Juli erreicht, 100 Nachrücker auf der Warteliste hatten Glück. Die Parkplatzkapazitäten seien das Hauptproblem, so Henrik Wahlstadt, Chef der Sportfreunde. Die Strecke könnte sicher noch einige Teilnehmer mehr vertragen, die sich weder vor den Stromstößen im "Electric Garden" noch vor "Vollwaschgängen" , steilen Kletterpartien oder rasanten Abgängen fürchten.</p>
			<b>Zwischenüberschrift</b>
			<p>Die Mammut-Aufgabe wird dank 90 freiwilliger Helfer mit Bravour gemeistert. Pünktlich zum Startschuss von Oberbürgermeister Karsten Schütze, der die erste von vier Staffeln über acht und 16 Kilometer auf den Weg schickte, hat es aufgehört zu regnen. Optimale Bedingungen nicht nur für ambitionierte Ausdauersportler, um den Mix aus Matsch, Schweiß und Partystimmung, Ehrgeiz, Spaß und Teamgeist zu genießen.</p>
			<p>"Die sehen ja alle gleich aus", hört man immer wieder perplex von Familien und Fans, die ihre Lieben auf der Strecke oder im Ziel kaum erkennen. Aus dem letzten Schlammbad von Kopf bis Fuß krabbeln furchterregende Gestalten. "Ist das Männlein oder Weiblein?" frotzelt Moderator Roman Knoblauch. Das sühnt er auf dem Fuße, bei keinem anderen Job muss er so oft die Kleider wechseln, wird selten von so vielen Männern geherzt und geküsst.</p>
			<p>"Schwarz macht schlank und man sieht den Dreck nicht so", ulken Claudia, Annika, Jacqueline und Susanne. Die "Crazy Chicks" stehen in Diensten der Bundespolizei und sind "Wiederholungstäter." Ihr Plan: "Wir schieben uns gegenseitig die Berge rauf und laufen Hand in Hand ins Ziel." Respekt haben sie vor dem Horn mit 25 Prozent Steigung, aber hoch kommen sie auf jeden Fall. "Es gibt genügend Männerhände, die schieben", wissen die knackigen jungen Damen vom letzten Jahr.</p>
			<p>Strahlen unter dem Dreck bei denjenigen, die das Ziel erreicht haben. "Das ist alles super organisiert, der Team-Spirit ist atemberaubend, unterwegs hilft jeder jedem", schwärmt Lukas Breitbarth, "durch den Schlamm zu robben macht den meisten Spaß. Da werden Kindheitserinnerungen wach." Freundin Michelle Brecht schmeißt die Waschmaschine danach gerne an: "Er hat ja nicht seine besten Sachen an und ich bin schon stolz auf ihn." Die Finisher sind sich einig: "Nächstes Jahr wieder, das macht richtig Spaß."</p>

			<h2>Matsch Olé! <small>Mittwoch, 30. September 2015 (Laufszene-Sachsen.de (erstellt von ORG Crossdeluxe))</small></h2>
			<p class="lead">Cross-Wochenende begeistert mit Schlamm, Schmerz und Schweiß 2.000 Sportler aus ganz Deutschland.</p>
			<p>Der Sparkassen CrossDeLuxe ließ Sportlerherzen am vergangenen Wochenende höher schlagen, als diese sich bei frischen Temperaturen 25 natürlichen und künstlichen Hindernissen entlang des Markkleeberger Sees stellten.</p>
			<p>2010 mit 329 Teilnehmern, von dem Verein Sportfreunde Neuseenland aus der Taufe gehoben, entwickelte sich der Sparkassen-CrossDeLuxe zunehmend vom Insider zu einer deutschlandweit bekannten Großveranstaltung (2011: 507 T., 2012: 1065 T., 2013: 1.700, 2014: 2.000) und geht heutzutage als absoluter Publikumsliebling unter den Hindernisläufen seiner Art in die Laufkalender ein.</p>
			<p>Die sechste Auflage des Sparkassen-CrossDeLuxe hatte es in sich: mittels Staffelstarts (4 x 500 Teilnehmer) nahmen 2.000 Sportler teil. Nicht einer der Finisher kam trocken, geschweige denn sauber ins Ziel. Am Ende des Tages standen die Sieger dann fest:</p>
			<p>Nicole Moritz (TEAM Brothers and Sisters) gewann mit 1:57:55 h auf der 16 km Strecke. Bei den Herren war Maik Willbrandt (TEAM ERDINGER alkoholfrei) mit 1:29:12 h der Schnellste. Bei den Damen querte Lydia Kummich (SC DHfk Leipzig) nach 8 km mit einer Zeit von 0:55:11 h als Erste den Zielbogen. Nach nur 0:45:30 h kam Jens Oswald (Sparkassen Challenge) als Sieger ins Ziel.</p>
			<p>Neben glücklichen Teilnehmern resümierte auch Henrik Wahlstadt, Vereinsvorsitzender, mit Zufriedenheit: "Der 6. Sparkassen CrossDeLuxe war ein voller Erfolg und ist und bleibt einfach einmalig in ganz Deutschland. Es ist überwältigend, die Begeisterung von fast 2.000 Sportlern zu teilen. Es freut uns, dass neben einigen Blessuren nichts Schlimmeres passiert ist. Wir sind jetzt schon wahnsinnig heiß auf 2016, dann natürlich mit altbewährten aber auch neuen Hindernissen."</p>
			<p>Der Verein Sportfreunde Neuseenland e.V. bedankt sich bei allen Partnern, Sponsoren, Feuerwehren und den 100 Helfern, ohne die ein solches Event nicht möglich wäre.</p>
			<p>Schon jetzt lohnt es sich, den Termin für kommendes Jahr zu notieren, denn das Starterfeld ist wieder auf 2.000 Teilnehmer limitiert. Als Teil der Sparkassen-Challenge findet der 7. Sparkassen-CrossDeLuxe am 24.09.2016 statt. Die Anmeldeportale öffnen traditionell am 01.01.2016.</p>
		</fieldset>

		<form action="#" method="post">
			<input type="hidden" id="eventId" th:value="${event.id}"/>
		</form>
	</div>

	<div layout:fragment="additionalFooter">

		<script>
			$( document ).ready( function() {

				var mapImages;
				var eventId = $('#eventId').attr('value');

				$.when(

					$.ajax( {
						url: '/api/1.0/eventLocation/' + eventId,
						dataType: 'json',
						cache: false
					}).done( function( data ) {
						mapImages = convertLocationToMapImage( data );
					}).fail( function( jqXHR, textStatus, errorThrown ) {
						alert( jqXHR.responseText );
					})

				).then( function() {
					createMap(mapImages);
				});

			});

			/**
			 * location example:
			 * {"name":"Amager Strandpark, Copenhagen, Dänemark","latitude":55.655356,"longitude":12.644577,"events":[]}
			 */
			function convertLocationToMapImage(location)
			{
				 /**
				 * Define SVG path for target icon
				 */
				var icon = "M9,0C4.029,0,0,4.029,0,9s4.029,9,9,9s9-4.029,9-9S13.971,0,9,0z M9,15.93 c-3.83,0-6.93-3.1-6.93-6.93S5.17,2.07,9,2.07s6.93,3.1,6.93,6.93S12.83,15.93,9,15.93 M12.5,9c0,1.933-1.567,3.5-3.5,3.5S5.5,10.933,5.5,9S7.067,5.5,9,5.5 S12.5,7.067,12.5,9z";

				var images = [
					{
						"id": "theLocation",
						"svgPath": icon,
						"zoomLevel": 10,
						"scale": 0.7,
						"title": location.name,
						"latitude": location.latitude,
						"longitude": location.longitude
					}
				];

				return images;
			}

			function createMap(images)
			{
				AmCharts.makeChart( "mapdiv", {
					/**
					 * this tells amCharts it's a map
					 */
					"type": "map",

					/**
					 * create data provider object
					 * map property is usually the same as the name of the map file.
					 * getAreasFromMap indicates that amMap should read all the areas available
					 * in the map data and treat them as they are included in your data provider.
					 * in case you don't set it to true, all the areas except listed in data
					 * provider will be treated as unlisted.
					 */
					"dataProvider": {
						"map": "worldLow",
						"linkToObject": "theLocation",
						"getAreasFromMap": true,
						"images": images
					},

					/**
					 * create areas settings
					 * autoZoom set to true means that the map will zoom-in when clicked on the area
					 * selectedColor indicates color of the clicked area.
					 */
					"areasSettings": {
						"autoZoom": true,
						"color": "#DDDDDD"
					},

					/**
					 * let's say we want a small map to be displayed, so let's create it
					 */
					"smallMap": {}
				} );
			}

		</script>

	</div>

</body>
</html>